.btn{
    background-color: #899878;
    color: white;
}

.wordlistitem:hover{
    background-color: lightgray;
}

.wordlistitem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: none;
    margin: none;
}

.wordlistitemdiv{
    padding: none;
    margin: none;
    height: 50px;
    cursor: pointer;
}

#bg-modal1{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#modal-content{
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: scroll;
}
