#flashcardcontainerhang{
    height: 75vh;
    display: grid;
    grid-template-areas: 
    "datadivhang flashcardboxhang";
    grid-template-columns: 25% 75%;
    margin: none;
    padding: none;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}



#flashcardboxhang{
    background-color: white;
    border: solid 1px grey;
    height: 75vh;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'hangheader'
    'hangcontent'
    'buttondiv2'
    'bottombarhang';
}


#hangheader{
    grid-area: hangheader;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hangcontent{
    grid-area: hangcontent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#buttondiv2{
    grid-area: buttondiv2;
   display: grid;
   grid-template-areas: 
   'letterbuttoncontainer1'
   'letterbuttoncontainer2';
}

#letterbuttoncontainer1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#letterbuttoncontainer2{
    display: flex;
    align-items: center;
    justify-content: center;
}


#letterbutton1{
    grid-area: letterbutton1;
}

#letterbutton2{
    grid-area: letterbutton2;
}

#letterbutton3{
    grid-area: letterbutton3;
}

#letterbutton4{
    grid-area: letterbutton4;
}

#letterbutton5{
    grid-area: letterbutton5;
}

#letterbutton6{
    grid-area: letterbutton6;
}


#bottombarhang{
    grid-area: bottombarhang;
    display: grid;
    grid-template-areas: 
    'progresshang navbuttonshang scorediv';
}

#progresshang{
    grid-area: progresshang;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scorediv{
 grid-area: scorediv;
 display: grid;
 grid-template-areas: 
 'livesleft'
 'scorehang';
}

#livesleft{
    grid-area: livesleft;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scorehang{
    grid-area: scorehang;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbuttonshang{
    grid-area: navbuttonshang;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#flashcardbuttonhang{
    width: 50px;
}

#flashcardbtn3{
    margin-right: 5px;
}





#datadivhang{
    display: grid;
    height: 75vh;
    overflow: auto;
    grid-template-columns: 100%;
    background-color: white;
    border-left: solid 1px grey;
    color: white;
}

#datadivhang div div{
    margin-top: 25px;
    background-color: rgb(76, 189, 241);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#datadivhang div div:hover{
    background-color: rgb(136, 238, 224);
}

#datadivhang div div h4:hover{
    background-color: rgb(136, 238, 224);
}


#placeholder{
    letter-spacing: 5px;
}


#wrongwordshang{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
   }
   
   .rightwronghangpair{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
   }
   
   .rightwronghangpair h3{
       margin: 10px;
   }
   
   #wrongwordhangsection1{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   
   
   #wrongwordhangsection2{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

   #wrongwordhangsection3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrongwordhangsection4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





@media only screen and (max-width:768px) {
    /* For mobile phones: */
    #flashcardbtn3 {
        font-size: 10px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivhang div div h4 {
        font-size: 15px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #flashcardbtnhang {
        font-size: 10px;
       
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivhang div div h4 {
        font-size: 15px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #flashcardcontainerhang {
        margin-left: 0px;
        margin-right: 0px;
    }
  }

  

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #navbuttonshang {
        flex-wrap: wrap;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #flashcardbtnhang {
        width: 70px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #progresshang h6  {
        font-size: 20px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivhang  div div h3 {
        font-size: 20px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivhang  div div h4 {
        font-size: 15px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivhang  div div {
        margin-top: 25px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivhang  div div:hover {
        background-color: rgb(136, 238, 224);
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivhang  div div h4:hover {
        background-color: rgb(136, 238, 224);
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #hangcontent h1 {
       font-size: 30px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #hangheader {
       font-size: 30px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #letterbuttoncontainer1 {
       flex-wrap: wrap;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #letterbuttoncontainer2 {
       flex-wrap: wrap;
    }
  }

  
  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #wrongwordshang {
       grid-template-columns: auto auto auto auto;
       column-gap: 0;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #wrongwordshang h3 {
       font-size: 10px;
    }
  }





