#librarycontainer1{
    height: 75vh;
    overflow: scroll;
    margin-left: 100px;
    margin-right: 100px;
}

#librarycontainer1 div{
     display: grid;
     grid-template-columns: auto auto;
row-gap: 20px;
column-gap: 10px;
    align-self: center;
  justify-self: center;
}

#librarycontainer1 div div{
    height: 75px;
    width: 320px;
    background-color: rgb(205, 236, 247);
    border: rgb(148, 225, 250) solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#librarycontainer1 div div h4{
  font-size: 20px;
}

@media only screen and (max-width:768px) {
  /* For mobile phones: */
  #librarycontainer1 div {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width:768px) {
    /* For mobile phones: */
    #librarycontainer1 div div {
      width:100%;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #librarycontainer1 div div h4 {
      font-size: 20px;
    }
  }

  @media only screen and (max-width:992px) {
    /* For mobile phones: */
    #librarycontainer1 div div {
      width:100%;
    }
  }

  @media only screen and (max-width:992px) {
    /* For mobile phones: */
    #librarycontainer1 div div h4 {
      font-size: 15px;
    }
  }

  @media only screen and (max-width:1200px) {
    /* For mobile phones: */
    #librarycontainer1 div div {
      width:100%;
    }
  }

  @media only screen and (max-width:2000px) {
    /* For mobile phones: */
    #librarycontainer1 div div {
      width:100%;
    }
  }



#librarycontainer1 div div:hover{
    background-color: rgb(89, 196, 231);
}

#librarycontainer1 div div h4:hover{
    background-color: rgb(89, 196, 231);
}

#bg-modal1{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#modal-content{
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-areas:
    'englishcol japcol';
    align-items: center;
    justify-content: center;
    overflow: scroll;
    position: relative;
    padding: 0;
    margin: 0;
}

#englishcolumn{
  grid-area: englishcol;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 500px;
}

#englishcolumn h3{
    text-decoration: underline;
}



#japanesecolumn{
  grid-area: japcol;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    max-height: 500px;
}

#japanesecolumn h3{
    text-decoration: underline;
}


#closemodalbutton{
    position: absolute;
    top: 0;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    right:30px;
    padding: 0;
    margin: 0;
}

#modal-content table, th, td {
    border: 1px solid black;
    width: 25% ;
  }

  

  #modal-content table{
    table-layout: fixed ;
    width: 500px ;
    text-align: center;
  }

  













