#secondnav{
    height: 85px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
    background:#00c2cb;
    box-shadow: 0 4px 2px -2px lightgrey;
}

.topnavcontainer{
    display: flex;
    justify-content: space-around;
    width: 85%;
}


#nav-link3{
color: white;
font-size: 18px;
}

#nav-link3:hover{
   text-decoration: underline;
    }

#burgericonmain{
    display: none;
}

    #nav-linkorange{
        color: orangered;
        border: solid 2px orangered;
        height: 70px;
        width: 100px;
        border-radius: 5px;
    }

  

    @media screen and (max-width: 1100px) {
        .topnavcontainer.responsive {
            position: absolute;
            height: 200px;
            top: 185px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            width: 100%;
            border: 1px solid black;
        }
        .topnavcontainer.responsive #nav-link3{
            display: block;
            color: black;
        }
    }

    @media screen and (max-width: 1100px) {
        #burgericonmain {
            display: block;
        }
        #nav-link3 {
            display: none;
        }
        .topnavcontainer{
            display: none;
        }
        }

       
       
      
