#flashcardcontainermul{
    height: 75vh;
    display: grid;
    grid-template-areas:
    "datadivmul flashcardboxmul";
    grid-template-columns: 25% 75%;
    margin: none;
    padding: none;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

#buttondiv1{
    color: white;
}

#flashcardboxmul{
    background-color: white;
    border: solid 1px grey;
    height: 75vh;
   grid-area: flashcardboxmul;
   display: grid;
   grid-template-rows: auto auto auto;
   grid-template-areas: 
   'flashheadermul'
   'flashcontentmul'
   'bottombar1';
}

#flashheadermul{
    grid-area: flashheadermul;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flashcontentmul{
    grid-area: flashcontentmul;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'subjectword'
    'randomwords';
}

#subjectword{
    grid-area: subjectword;
}

#randomwords{
    grid-area: randomwords;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'ranwords ranwords'
    'ranwords ranwords';
}

#ranwords{
    grid-area: ranwords;
}

#ranword{
    display: flex;
    align-items: center;
    justify-content: center;
}


#bottombar1{
    grid-area: bottombar1;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: 
    'progressmul navbuttonsmul scoremul';
}

#navbuttonsmul{
    grid-area: navbuttonsmul;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#progressmul{
    grid-area: progressmul;
    justify-content: center;
    display: flex;
    align-items: center;
}

#scoremul{
    grid-area: scoremul;
    justify-content: center;
    display: flex;
    align-items: center;
}

#randomwords div h3{
    cursor: pointer;
}

#datadivmul{
    grid-area: datadivmul;
    display: grid;
    height: 75vh;
    overflow: auto;
    grid-template-columns: 100%;
    background-color: white;
    border-left: solid 1px grey;
    color: white;
}

#datadivmul div div{
    margin-top: 25px;
    background-color: rgb(76, 189, 241);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#datadivmul div div:hover{
    background-color: rgb(136, 238, 224);
}

#datadivmul div div h4:hover{
    background-color: rgb(136, 238, 224);
}

#wrongwordsmul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
   }
   
   .rightwrongmulpair{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
   }
   
   .rightwrongmulpair h3{
       margin: 10px;
   }
   
   #wrongwordmulsection1{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       border: solid 1px red;
   }
   
   
   #wrongwordmulsection2{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       border: solid 1px red;
   }

   #wrongwordmulsection3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px red;
}

#wrongwordmulsection4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px red;
}


@media only screen and (max-width:768px) {
    /* For mobile phones: */
    #flashcardbtn2 {
        font-size: 10px;
       
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivmul div div h4 {
        font-size: 15px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #flashcardcontainermul {
        margin-left: 0px;
        margin-right: 0px;
    }
  }

  

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #navbuttonsmul {
        flex-wrap: wrap;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #flashcardbtn2  {
        width: 70px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #progressmul h6  {
        font-size: 20px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivmul  div div h3 {
        font-size: 20px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivmul  div div h4 {
        font-size: 15px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivmul  div div {
        margin-top: 25px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivmul  div div:hover {
        background-color: rgb(136, 238, 224);
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #datadivmul  div div h4:hover {
        background-color: rgb(136, 238, 224);
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #flashcontentmul h1 {
       font-size: 30px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #flashheadermul {
       font-size: 30px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #wrongwordsmul {
       grid-template-columns: auto auto auto auto;
       column-gap: 0;
    }
  }

  @media only screen and (max-width:768px) {
    /* For mobile phones: */
    #wrongwordsmul h3 {
       font-size: 10px;
    }
  }